<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Trip Planner - {% block title %}{% endblock %}</title>
<head>
    <!-- Stylesheets go here! -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
     <link href="/stylesheets/normalize.css" rel="stylesheet">

</head>
<body>
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="/">Trip Planner</a>
	        </div>
      	</div>
 	 </nav>

{% block content %}
{% endblock %}

<!-- Script tags go here! -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDcfVvuSFRK262vgjcIeYvToBgFHPUW7I&sensor=true"></script>
<script src="/javascripts/map.js"></script>

</body>
</html>